{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
<div class='m-auto w-50'>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{form_row(registrationForm.roles)}}
        <button class='btn btn-primary' type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
</div> 
{% endblock %}
