{% extends 'base.html.twig' %}

{% block title %}Gestion des tickets{% endblock %}

{% block body %}
<div class='w-50 m-auto'>
{{form_start(form)}}
{{form_row(form.auteur)}}
{{form_row(form.description)}}
{{form_row(form.categorie)}}
{{form_row(form.createdAt)}}
{{form_row(form.closedAt)}}
{{form_row(form.statut)}}
{{form_row(form.responsable)}}

<button type='submit' class='btn btn-primary'>Envoyer</button>
{{form_end(form)}}
</div>
{% endblock %}
