{% extends 'base.html.twig' %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
<h1>Liste des tickets</h1>
<ul class='list-group list-group-flush'>
    {%for ticket in tickets %}
        <div class='card m-3'>
            <div class='card-body mb-2'>
                <div class='card-title d-flex justify-content-between mb-5'>
                    <h4 class='mb-1'>Client :<br>{{ticket.auteur}}</h4>
                    <h4>Catégorie :<br>{{ticket.categorie}}</h4>
                </div>
                <div class='card-title d-flex justify-content-between mb-5'>
                    <h4>Description :<br>{{ticket.description}}</h4>
                </div>
                <div class='card-title d-flex justify-content-between mb-5'>
                    <h4>Date de création :<br>{{ticket.createdAt|date('d M y')}}</h4>
                    <h4>Statut :<br>{{ticket.statut}}</h4>
                    <h4>Responsable :<br>{{ticket.responsable}}</h4>
                </div>
<a href="{{path('app_admin',{id:ticket.id})}}" class='btn btn-primary'>Modifier</a>
            </div>
        </div>
    {%else%}
        <li>Aucun enregistrement en base de données</li>
{%endfor%}
</ul>
{% endblock %}
